---
---
@charset "utf-8";

/***********************************************************************************************************************
 * Colors (what little there are of them)
 **********************************************************************************************************************/
$standard-font-color: #44423E;
$lighter-font-color: #504e4a;
$standard-link-color: #336699;
$standard-link-color-hover: #5599ff;
$diminished-font-color: #666666;

/***********************************************************************************************************************
 * Mixins
 **********************************************************************************************************************/
@mixin container() {
  width: 80%;
  max-width: 60rem;
  margin: auto;
}

/***********************************************************************************************************************
 * Breakpoints
 **********************************************************************************************************************/
$breakpoint-tablet: 768px;

/***********************************************************************************************************************
 * Main Layout and general items
 **********************************************************************************************************************/
body {
  margin: 0;
  color: $standard-font-color;
  background: #272727;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.37rem;
  line-height: 2.5rem;
  @media (max-width: $breakpoint-tablet) {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  & > header {
    background: #ffffff;

    nav {
      @include container;
      display: flex;
      justify-content: space-between;
      padding: 2rem 0 0.5rem 0;
      border-bottom: 0.15rem solid #eeeeee;
      span a:first-child {
        margin-right: 2rem;
      }
      .search {
        display: inline;
        position: relative;
        @media (max-width: $breakpoint-tablet) {
          margin-right: 0.5rem;
        }
        margin-right: 1rem;
        
        input {
          border: 1px solid #d8d8d8;
          height: 1rem;
          vertical-align: middle;
          @media (max-width: $breakpoint-tablet) {
            width: 7rem;
          }
          width: 8.2rem;
          padding: 0.2rem;
          &:focus {
            outline: none;
          }
          
          & ~ button {
            display: none;
            position: absolute;
            @media (max-width: $breakpoint-tablet) {
              top: 4px;
            }
            top: 8px;
            right: 8px;
            line-height: 1rem;
            background: #e25866;
            border: none;
            border-radius: 100%;
            color: white;
            width: 1rem;
            height: 1rem;
            padding: 0;
            font-size: 0.8rem;
            cursor: pointer;
            &:focus {
              outline: none;
            }
          }
          &:valid ~ button {
            display: inline;
          }
        }
      }
    }

    a {
      color: $standard-font-color;
    }
  }
  
  & > footer {
    @include container;
    padding: 3rem 0 1rem 0;
    color: #454545;
    text-align: center;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: space-around;
      margin: 0 0 2rem 0;
      padding: 0;
    }

    a, a:visited {
      color: #777777;
      text-decoration: none;
    }

    p {
      font-size: 0.8rem;
    }
    
    div {
      font-weight: bold;
    }
    
    img {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

main {
  padding: 2rem 0 3rem 0;
  background: #ffffff;

  & > * {
    @include container;
  }
}

hr {
  color: #eeeeee;
  background-color: #eeeeee;
  border-color: #eeeeee;
  border-style: solid;
  margin: 2rem 0;
}

a {
  color: $standard-link-color;
  text-decoration: none;
}

h3 {
  font-size: 1.9rem;
  line-height: 2.6rem;
}

abbr {
  border-bottom: 0.01rem dotted #e0e0e0;
}

blockquote {
  margin: 0;
  padding: 0 2rem;
  border-left: 0.3rem solid #E2E2E2;
  background: #f9f9f9;
}

.pull-right {
  float: right;
}

.last-cta {
  text-align: center;
  font-weight: bold;
}

/***********************************************************************************************************************
 * Hero / Header
 **********************************************************************************************************************/
#hero {
  line-height: 2.4rem;

  h1, h2, p {
    margin-top: 0;
    font-size: 2rem;
  }
}

/***********************************************************************************************************************
 * Blog display
 **********************************************************************************************************************/
article {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
  
  p {
    margin-bottom: 2rem;
  }
  
  header {
    order: 1;
  }
  
  footer {
    order: 2;
    font-size: 0.8rem;
    padding: 0 0.1rem;
    color: $diminished-font-color;
    time {
      padding-right: 1rem;
    }
  }
  
  section {
    order: 3;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.9rem;
    margin: 0;
    a, a:visited {
      color: $standard-link-color;
    }
    a:hover {
      color: $standard-link-color-hover;
    }
  }
}

.read-more {
  font-size: 1rem;
  color: $diminished-font-color;
  text-decoration: none;
}

.entries {
  article:after {
    content: '—';
    text-align: center;
    color: #e4e4e4;
    order: 4;
  }
}

.old-post {
  background: #fff4a5;
  border: 0.15rem solid #ffb710;
  padding: 1rem 1.6rem;
  margin:3rem 0;
}
.update-post {
  background: #92cbfc;
  border: 0.15rem solid #639cc3;
  padding: 1rem 1.6rem;
  margin:3rem 0;
}

.thumbnail {
  display: block;
  margin: 1rem 0;
  text-align: center;
  
  img {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    padding: 5px;
    max-width: 100%;
  }

  &.pull-right {
    margin-left: 2rem;
  }
}
.inline {
  img {
    max-height: 20rem;
    margin: auto;
  }
}
table {
  width: 100%;
  margin: 1.5rem;
  border-collapse: collapse;
}
th {
  background: #f4f4f4;
}
td, th {
  border: 1px solid #cecece;
  padding: 0.5rem;
}

/** This is necessary for filenames above code blocks that cause the screen to scroll **/
p > strong > code {
  display: block;
  overflow: auto;
  &.highlighter-rouge {
    padding-bottom: 0;
    padding-top: 0;
  }
}

/***********************************************************************************************************************
 * Pagination
 **********************************************************************************************************************/
.pagination {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  
  span {
    color: #aaaaaa;
  }
  div {
    color: #aaaaaa;
    font-size: 1rem;
  }
}

/***********************************************************************************************************************
 * Tag Page
 **********************************************************************************************************************/
.tag-page-content {
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eeeeee;
}
.tag-cloud {
  text-align: center;
  div {
    margin-right: 1.5rem;
    display: inline-block;
  }
  span {
    font-size: 65%;
  }
}

/***********************************************************************************************************************
 * syntax highlighting
 **********************************************************************************************************************/
@import "syntax-highlighting";

/** some of this is stupid cuz of the plugins that are too frivilous with their classes **/

.highlight, .highlight > pre {
  margin: 0;
  font-size: 1rem;
  line-height: 1.2rem;
}
.highlight > pre.highlight {
  padding: 0;
}

code.highlighter-rouge {
  background: #eaeaea;
  color: #343642;
  padding: 0.3rem;
  @media (max-width: $breakpoint-tablet) {
    word-break: break-word;
  }
}



/***********************************************************************************************************************
 * 404
 **********************************************************************************************************************/
#notfound_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}
#not-found-link {
  display: block;
  text-align: center;

  a {
    color: #000000;
    background: rgba(255,255,255,0.4);
    display: inline-block;
  }
}
#not-found-mute-button {
  background: transparent;
  border: none;
  padding: 0;
  height: 2rem;
  display: block;
  margin: auto;
  cursor: pointer;
  
  &:hover {
    filter: invert(1);
  }
  
  img {
    height: 100%;
    &:last-child {
      display: none;
    }
  }
}

/***********************************************************************************************************************
 * Resume Block
 **********************************************************************************************************************/
.resume-hero {
  font-size: 1.3rem;
  padding: 1rem;
  background: #e7ffdc;
  border: 2px solid #43de43;
  
  p {
    margin: 0;
  }
  a:last-of-type {
    font-weight: bold;
  }
}

/***********************************************************************************************************************
 * Podcast CTA
 **********************************************************************************************************************/
.podcast-cta {
  margin-bottom: 1.4rem;
  border-top: 0.5rem solid #ff2d20;
  color: #333333;
  background-color:#209cda24;
  div {
    padding: 1rem 1.5rem;
  }
  a {
    color: #000000;
    text-decoration: underline;
  }
}