---
---
@charset "utf-8";

@font-face {
  font-family: Raleway;
  src: url('/fonts/Raleway-Regular.ttf');
}
body {
  background: #272727;
  font-family: Raleway, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  color: #454545;
  line-height: 2rem;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
a, a:visited, a:active {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body > div {
  background-color: #ffffff;
  padding-bottom: 7rem;
}

.container {
  width: 80%;
  margin: auto;
}

nav {
  box-shadow: 0 14px 14px -14px #eaeaea;
  line-height: 2.5rem;
}
nav ul {
  padding: 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
}
nav li {
  list-style: none;
  text-align: center;
  flex-grow: 1;
}
nav a, nav a:visited, nav a:active {
  color: #777777;
  font-size: 0.8rem;
}

footer ul {
  margin: 0;
  padding: 3rem 0 1rem 0;
  text-align: center;
}
footer li {
  display: inline-block;
  padding: 0 3rem;
}
footer a, footer a:visited {
  color: #777777;
  text-decoration: none;
}
footer p {
  text-align: center;
}

.page-header {
  text-align: center;
  margin-bottom: 2rem;
}
.page-header h1 {
  font-size: 2.3rem;
  margin: 3rem 0 1.5rem 0;
  font-weight: normal;
}
.page-header h2 {
  color: #727272;
  font-weight: normal;
  margin: 0;
  font-size: 1.5rem;
}

#home {
  text-align: center;
}
#home h1 {
  font-size: 4.5rem;
  line-height: 4rem;
  font-weight: normal;
  margin: 11rem 0 6rem 0;
}
#home h2 {
  color: #777777;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0;
}
#home h3 {
  margin: 0.4rem;
  font-weight: normal;
  font-size: 1rem;
}
.entry-list, .entry-list li, .entry-list h3 {
  margin: 0;
  padding: 0;
}
.entry-list li {
  list-style: none;
  margin-bottom: 0.6rem;
}
.entry-list h3, .entry h3 {
  display: inline-block;
  font-size: 1.3rem;
}
.entry-list span, .entry > span {
  font-size: 0.8rem;
  color: #aaaaaa;
}
.entry h4, .entry h5 {
  font-size: 1.1rem;
}

.entry .thumbnail {
  display: block;
  margin: 1rem 0;
  text-align: center;
}
.entry .thumbnail img {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  padding: 5px;
}

.rss-subscribe {
  text-align: center;
  font-size: 0.8rem;
}


@import "syntax-highlighting";

.highlight {
  line-height: 1.5;
  margin: 2rem 0;
  background: aliceblue;
  padding: 0.1rem 1rem;
}
pre {
  overflow-x: auto;
}
#crazytime_video, #notfound_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}
#not-found-link {
  display: block;
  text-align: center;
}
#not-found-link a {
  color: #000000;
  background: rgba(255,255,255,0.4);
  display: inline-block;

}