---
---
@charset "utf-8";

/***********************************************************************************************************************
 * Colors (what little there are of them)
 **********************************************************************************************************************/
$standard-font-color: #333333;
$standard-link-color: #336699;
$standard-link-color-hover: #5599ff;
$diminished-font-color: #666666;

/***********************************************************************************************************************
 * Mixins
 **********************************************************************************************************************/
@mixin container() {
  width: 80%;
  max-width: 60rem;
  margin: auto;
}

/***********************************************************************************************************************
 * Breakpoints
 **********************************************************************************************************************/
$breakpoint-tablet: 768px;

/***********************************************************************************************************************
 * Main Layout and general items
 **********************************************************************************************************************/
body {
  margin: 0;
  color: $standard-font-color;
  background: #272727;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.37rem;
  line-height: 2rem;
  @media (max-width: $breakpoint-tablet) {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  & > header {
    background: #ffffff;

    nav {
      @include container;
      display: flex;
      justify-content: space-between;
      padding: 3rem 0 0.5rem 0;
      border-bottom: 0.15rem solid #eeeeee;
    }

    a {
      color: $standard-font-color;
    }
  }
  
  & > footer {
    @include container;
    padding: 3rem 0 1rem 0;
    color: #454545;
    text-align: center;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: space-around;
      margin: 0 0 2rem 0;
      padding: 0;
    }

    a, a:visited {
      color: #777777;
      text-decoration: none;
    }

    p {
      font-size: 0.8rem;
    }
    
    img {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

main {
  padding: 3rem 0;
  background: #ffffff;

  & > * {
    @include container;
  }
}

a {
  color: $standard-link-color;
  text-decoration: none;
}

h3 {
  font-size: 1.9rem;
  line-height: 2.6rem;
}

abbr {
  border-bottom: 0.01rem dotted #e0e0e0;
}

blockquote {
  margin-left: 0;
  padding-left: 2rem;
  border-left: 0.3rem solid #E2E2E2;
  background: #f9f9f9;
}

.pull-right {
  float: right;
}

.leader {
  padding: 1rem 0 2rem 0;
  font-style: italic;
}

.last-cta {
  text-align: center;
  font-weight: bold;
}

/***********************************************************************************************************************
 * Hero / Header
 **********************************************************************************************************************/
#hero {
  line-height: 2.4rem;

  h1, h3 {
    display: inline;
  }
  h1 {
    padding-right: 0.6rem;
  }
  h1, h3, p {
    font-size: 2rem;
  }
  p {
    margin-top: 0;
  }
}

/***********************************************************************************************************************
 * Blog display
 **********************************************************************************************************************/
article {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
  
  header {
    order: 1;
  }
  
  footer {
    order: 2;
    font-size: 0.8rem;
    padding: 0 0.1rem;
    color: $diminished-font-color;
    time {
      padding-right: 1rem;
    }
  }
  
  section {
    order: 3;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.9rem;
    margin: 0;
    a, a:visited {
      color: $standard-link-color;
    }
    a:hover {
      color: $standard-link-color-hover;
    }
  }
}

.read-more {
  font-size: 1rem;
  color: $diminished-font-color;
  text-decoration: none;
}

.entries {
  article:after {
    content: '—';
    text-align: center;
    color: #e4e4e4;
    order: 4;
  }
}

.old-post {
  background: #fff4a5;
  border: 0.15rem solid #ffb710;
  padding: 1rem 1.6rem;
  margin:3rem 0;
}

#blog-subscribe {
  font-size: 1rem;
  @media (max-width: $breakpoint-tablet) {
    font-size: 0.8rem;
  }
  text-align: center;
  margin-top: 1.2rem;
  background: #f5f5f5;
  form {
    display: inline;
    input {
      @media (max-width: $breakpoint-tablet) {
        display: block;
        margin: auto;
      }
    }
  }
  a:before {
    display: inline-block;
    content:"";
    width: 1rem;
    height: 1rem;
    margin-right: 0.1rem;
    vertical-align: text-top;
    background-size: 1rem;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgICAgIGlkPSJSU1NpY29uIiAgICAgdmlld0JveD0iMCAwIDggOCIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiPiAgPHRpdGxlPlJTUyBmZWVkIGljb248L3RpdGxlPiAgPHN0eWxlIHR5cGU9InRleHQvY3NzIj4gICAgLmJ1dHRvbiB7c3Ryb2tlOiBub25lOyBmaWxsOiBvcmFuZ2U7fSAgICAuc3ltYm9sIHtzdHJva2U6IG5vbmU7IGZpbGw6IHdoaXRlO30gIDwvc3R5bGU+ICA8cmVjdCAgIGNsYXNzPSJidXR0b24iIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHJ4PSIxLjUiIC8+ICA8Y2lyY2xlIGNsYXNzPSJzeW1ib2wiIGN4PSIyIiBjeT0iNiIgcj0iMSIgLz4gIDxwYXRoICAgY2xhc3M9InN5bWJvbCIgZD0ibSAxLDQgYSAzLDMgMCAwIDEgMywzIGggMSBhIDQsNCAwIDAgMCAtNCwtNCB6IiAvPiAgPHBhdGggICBjbGFzcz0ic3ltYm9sIiBkPSJtIDEsMiBhIDUsNSAwIDAgMSA1LDUgaCAxIGEgNiw2IDAgMCAwIC02LC02IHoiIC8+PC9zdmc+')
  }
}

.thumbnail {
  display: block;
  margin: 1rem 0;
  text-align: center;
  
  img {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    padding: 5px;
  }

  &.pull-right {
    margin-left: 2rem;
  }
}
.inline {
  img {
    max-width: 40rem;
    max-height: 20rem;
    margin: auto;
  }
}
table {
  width: 100%;
  margin: 1.5rem;
  border-collapse: collapse;
}
th {
  background: #f4f4f4;
}
td, th {
  border: 1px solid #cecece;
  padding: 0.5rem;
}

/** This is necessary for filenames above code blocks that cause the screen to scroll **/
p > strong > code {
  display: block;
  overflow: auto;
  &.highlighter-rouge {
    padding-bottom: 0;
    padding-top: 0;
  }
}

/***********************************************************************************************************************
 * Pagination
 **********************************************************************************************************************/
.pagination {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  
  span {
    color: #aaaaaa;
  }
  div {
    color: #aaaaaa;
    font-size: 1rem;
  }
  
}

/***********************************************************************************************************************
 * syntax highlighting
 **********************************************************************************************************************/
@import "syntax-highlighting";

/** some of this is stupid cuz of the plugins that are too frivilous with their classes **/

.highlight, .highlight > pre {
  margin: 0;
  font-size: 1rem;
  line-height: 1.2rem;
}
.highlight > pre.highlight {
  padding: 0;
}

code.highlighter-rouge {
  background: #eaeaea;
  color: #343642;
  padding: 0.3rem;
  @media (max-width: $breakpoint-tablet) {
    word-break: break-word;
  }
}



/***********************************************************************************************************************
 * 404
 **********************************************************************************************************************/
#notfound_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}
#not-found-link {
  display: block;
  text-align: center;

  a {
    color: #000000;
    background: rgba(255,255,255,0.4);
    display: inline-block;
  }
}
