---
layout: default
meta_description: Milwaukee PHP Web Developer, Open Source Programmer and Engineering Manager
---
<section>
  <p>Hi - I'm Aaron! I'm a Dev Manager coach, PHP &amp; Laravel programmer, and Node &amp; Vue developer.</p>
  <p>
    I do contract work with my company <a href="https://morebetterfaster.io">More Better Faster</a>. I like popcorn & short walks on the pavement.
  </p>
  <hr>
  <p>Here are <abbr title="{{ site.posts | size }} technical and business blog posts">some things</abbr> I have to say:</p>
</section>

<section class="entries">
  {% for post in site.posts limit: 5 %}
  {% include blog-post.html post=post excerpt=true %}
  {% endfor %}
  <p class="last-cta">
    <a href="/blog" title="See all {{ site.posts | size }} posts">See All Posts</a>
  </p>
</section>