<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h2 itemprop="name headline" id="post-{{ include.post.id | slugify }}"><a href="{{ include.post.url | prepend: site.baseurl }}">{{ include.post.title }}</a></h2>
    </header>
    <section class="blog-content" itemprop="articleBody">
        {% if include.excerpt %}
        <p>
            {{ include.post.excerpt | strip_html | truncatewords:75 }}
            <a class="read-more" href="{{ include.post.url | prepend: site.baseurl }}" title="Read the rest of this post">(more…)</a>
        </p>
        {% else %}
            {% capture now %}{{'now' | date: '%s'}}{% endcapture %}
            {% capture postDate %}{{ include.post.date | date: '%s'}}{% endcapture %}
            {% assign difference = now | minus: postDate %}
            {% if difference > 47340000 %}
            <div class="old-post">
                This post is more than 18 months old. Since technology changes too rapidly, this content <em>may</em> be
                out of date (but that's not always the case).  Please remember to verify any technical or programming information
                with the current release.
            </div>
            {% endif %}
            {{ include.content }}
        {% endif %}
    </section>
    <footer>
        <time datetime="{{ include.post.date | date: '%FT%T%:z' }}" itemprop="datePublished">{{ include.post.date | date: "%b %-d, %Y" }}.</time>
        <span>
            {% for tag in include.post.tags %}
                <a href="/tag/{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last == true %}, {% endunless %}</a>
            {% endfor %}
        </span>
    </footer>
</article>