<div id="blog-subscribe">
    <form action="https://aaronsaray.us19.list-manage.com/subscribe/post?u=58f0d600f99f897f1f5cc49b4&amp;id=c78c35df2c" method="post" target="_blank">
        <label>
            For blog updates via email:
            <input type="email" required name="EMAIL" placeholder="my@email.com">
        </label>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_58f0d600f99f897f1f5cc49b4_c78c35df2c" tabindex="-1" value=""></div>
        <input type="submit" value="Subscribe">
    </form>
    or use <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">RSS</a>
</div>
