<div class="resume-hero">
    <p>
        Hey! I'd love for you to read and browse through all of my <a href="{{ site.baseurl }}/resume">resume</a> and
        <a href="{{ site.baseurl }}">extended CV</a>, but let's cut to the chase. You're here to do this:
        <a href="{{ site.baseurl }}/uploads/2018/Resume of Aaron Saray - PHP Web Developer.pdf" download>Download my PDF Resume</a>.
    </p>
    <p>
        If your mind is already made up, you should <a href="{{ site.baseurl }}/contact">contact me</a> so we can talk about your project.
    </p>
</div>