---
layout: default
title: Blog posts by Aaron Saray
header: "All entries of my technical and business blog."
meta_description: Blog entries written by Aaron Saray.
---
<section class="entries">
    {% for post in paginator.posts %}
    {% include blog-post.html post=post excerpt=true %}
    {% endfor %}
</section>
<section class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">⬅ Newer</a>
    {% else %}
    <span>⬅ Newer</span>
    {% endif %}
    |
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older ➡</a>
    {% else %}
    <span>Older ➡</span>
    {% endif %}
    <div>Page {{ paginator.page }} of {{ paginator.total_pages }}</div>

</section>

{% include blog-subscribe.html %}