<article {{ if not .single }} class="my-5" {{ end }}>
    {{ if .single }}
    {{ if .context.Draft }}
    <h1 class="position-relative">
      <span class="badge badge-pill bg-warning text-black position-absolute text-uppercase" style="font-family: sans-serif; top: -20px; opacity: 0.8">Draft</span>
      {{ .context.Title }}
    </h1>
    {{ else }}
    <h1>{{ .context.Title }}</h1>
    {{ end }}
    {{ else }}
    <h2>
      <a href="{{ .context.Permalink }}">
        {{ if .context.Draft }}
        <span class="badge badge-pill bg-warning text-black position-absolute text-uppercase" style="font-family: sans-serif; opacity: 0.7">Draft</span>
        {{ end }}
        {{ .context.Title }}
      </a>
    </h2>
    {{ end }}
    <div class="small">
        <span class="text-muted d-block d-sm-inline me-3">{{ .context.Date.Format "Jan 2, 2006" }}</span>
        {{ range $index, $name := sort .context.Params.tag }}
        <a href="/tag/{{ $name }}" class="me-3">{{ $name }}</a>
        {{ end }}
    </div>
    {{ if .single }}

    {{ with .context.Params.context }}
        <div class="small text-muted mt-2">
            <strong class="d-block d-md-inline">Context:</strong>
            {{ range . }}
                <span class="lh-lg border bg-light py-1 px-2 rounded text-secondary text-nowrap">{{ . }}</span>
            {{ end }}
        </div>
    {{ end }}

    {{ $ageDays := div (sub now.Unix .context.Date.Unix) 86400 }}
    {{ if and (gt $ageDays 545) (.single) }}
    <div class="old-post-notification mb-4 shadow-sm">
        This post is more than 18 months old. Since technology changes too rapidly, this content may be out of date (but
        that's not always the case). Please remember to verify any technical or programming information with the current
        release.
    </div>
    {{ end }}
    {{ end }}
    <div class="mt-4">
        {{ if .single }}
        {{ .context.Content }}
        {{ else }}
        {{ .context.Summary }}
        {{ end }}
    </div>
</article>