{{ define "main" }}
<section id="home-hero" class="home-section">
    <div class="container">
        <div class="row align-items-lg-center align-content-center">
            <div class="col-lg">
                <h1 class="text-center text-lg-end pe-0 pe-lg-5 pb-3 pb-lg-0">Aaron Saray</h1>
            </div>
            <div class="col-lg">
                <h2 class="text-center text-lg-start ps-0 ps-lg-5 pt-3 pt-lg-0">
                    Open Source Consultant specializing in building effective software for startups and SMBs.
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="home-panel home-section">
    <div class="container container-limited">
        <h2>I've been programming for more than two decades professionally.</h2>
        <p>
            In fact, I started programming when I was eight years old before getting my first programming job
            around age eighteen. I’m also an entrepreneur and constantly working on fun projects. You can learn more by
            viewing my thorough <a href="/cv">curriculum vitae</a>.
        </p>
    </div>
</section>
<section class="home-panel home-section">
    <div class="container container-limited">
        <h2>I write blog entries. A lot of them. In fact, since 2007, I’ve written 639 of them.</h2>
        <p>
            Topics range from PHP and Laravel, to Javascript and CSS, from business management and developer relations
            to small business process and security. You can read more on <a href="/blog">my blog</a>.
        </p>
    </div>
</section>
{{ end }}