---
layout: compress
---
{% if page.title %}
  {% if page.layout == 'page_tags' %}
    {% capture page_title %}Blog entries tagged "{{ page.title | slugify }}" | Aaron Saray{% endcapture %}
  {% else %}
    {% capture page_title %}{{ page.title }} | Aaron Saray{% endcapture %}
  {% endif %}
{% else %}
  {% assign page_title = site.title %}
{% endif %}

{% if page.meta_description %}
  {% assign page_description = page.meta_description %}
{% else %}
  {% assign excerpt = page.excerpt | strip %}
  {% if excerpt == "" %}
    {% assign page_description = site.description %}
  {% else %}
    {% assign page_description = page.excerpt | strip_html | truncatewords:20 %}
  {% endif %}
{% endif %}

{% if page.layout == 'page_tags' %}
  {% capture og_image %}/images/tag/{{ page.slug }}.jpg{% endcapture %}
{% elsif page.layout == 'post' %}
  {% capture og_image %}/images/tag/{{ page.tags[0] }}.jpg{% endcapture %}
{% else %}
  {% assign og_image = "/images/og-me.jpg" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% if page.layout == 'page_tags' %}
    <link rel="alternate" type="application/atom+xml" title="Entries tagged {{ page.slug }} on {{ site.title }}" href="{{ site.url }}{{ site.baseurl }}/tag/{{ page.slug | slugify }}.xml">
  {% endif %}
  <meta property="og:title" content="{{ page_title | escape }}">
  <meta property="og:site_name" content="AaronSaray.com">
  <meta property="og:url" content="{{ page.url | prepend: site.url }}">
  <meta property="og:description" content="{{ page_description | escape }}">
  <meta property="og:image" content="{{ site.url }}{{ og_image }}">
  {% if page.layout == 'post' %}
    <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}
</head>
<body>
<header>
  <nav>
    <a href="{{ site.baseurl }}/">Aaron Saray</a>
    <span>
      <form action="https://www.google.com/search" method="get" class="search">
        <input type="text" name="q" required placeholder="Search using Google">
        <input type="hidden" name="as_sitesearch" value="www.aaronsaray.com">
        <button type="reset">&times;</button>
      </form>
      <a href="{{ site.baseurl }}/contact">Contact</a>
    </span>
  </nav>
</header>
<main>
  {% unless layout.suppress_header %}
  <section id="hero">
    {% if page.header %}
    <p>{{ page.header }}</p>
    {% else %}
    <h1>Aaron Saray, Open Source Developer and Engineering Manager</h1>
    {% endif %}
  </section>
  {% endunless %}
  {{ content }}
</main>
<footer>
  <ul>
    <li><a href="https://aaronsaray.github.io" title="Aaron Saray, Open Source on GitHub">GitHub</a></li>
    <li><a href="https://codepen.io/aaronsaray/" title="HTML, CSS, and Javascript code on CodePen">CodePen</a></li>
    <li><a href="https://twitter.com/aaronsaray" title="Technical Articles and Development Management by Aaron Saray on Twitter">Twitter</a></li>
    <li><a href="https://linkedin.com/in/aaronsaray" title="Web Developer, Chief Technical Officer Aaron Saray on LinkedIn">LinkedIn</a></li>
    <li><a href="{{ site.baseurl }}/resume" title="My Web Programmer Resume">Resume</a></li>
  </ul>
  <ul>
    <li><a href="https://masteringlaravel.io" title="Up your Laravel Mastery">Become a Laravel Master</a></li>
    <li><a href="https://show.nocompromises.io" title="Podcast of 15 mins or less episodes of Laravel Tips">Laravel Podcast</a></li>
  </ul>
  <ul>
    <li>KD9VGQ</li>
  </ul>
  <p>
    &copy; {{ site.time | date: '%Y' }} <a xmlns:cc="http://creativecommons.org/ns" href="https://aaronsaray.com" property="cc:attributionName" rel="cc:attributionURL">Aaron Saray</a>. All content is licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
  </p>
</footer>
{% if jekyll.environment == "production" %}
<script type="text/javascript">!function(e,a,t,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=a.createElement(t),s=a.getElementsByTagName(t)[0],o.async=1,o.src=n,s.parentNode.insertBefore(o,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-2186364-4","auto"),ga("send","pageview");</script>
{% endif %}
</body>
</html>
