---
layout: default
suppress_header: true
tag: tag
---
<section id="hero">
    <p>Entries with the tag "{{ page.tag }}"</p>
</section>
<section class="entries">
    {% for post in page.posts %}
    {% include blog-post.html post=post excerpt=true %}
    {% endfor %}
</section>
<p class="last-cta">
    <a href="{{ site.baseurl }}/blog">Go to All Posts</a>
</p>
<p class="last-cta">
    <small><a type="application/atom+xml" href="{{ site.baseurl }}/tag/{{ page.tag | slugify }}.xml">Get the RSS for {{ page.tag }}</a></small>
</p>
