---
layout: default
---
<div class="container">
  <div class="page-header">
    <h1>Aaron Saray</h1>
    <h2>My Blog: Technical and Business knowledge, with less grammar correctness than my books.</h2>
  </div>
  <article class="entry" itemscope itemtype="http://schema.org/BlogPosting">
    <h3 itemprop="name headline">{{ page.title }}</h3>
    <span itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}.</span>
    <span>{{ page.tags | join: ', ' }}</span>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</div>
