{{ define "main" }}
{{ $paginator := .Paginator }}
<main class="container container-limited pb-5">
    {{ .Content }}

    <section>
        {{ range $paginator.Pages }}
        {{ partial "blog-entry.html" (dict "context" . "single" false) }}
        {{ end }}
    </section>

    <section class="row pagination-footer">
        <div class="col-6 col-sm-4 order-1">
            {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}">
                <span class="align-top small">&laquo;</span>
                Older
            </a>
            {{ end }}
        </div>
        <div class="col-12 col-sm-4 order-3 order-sm-2 text-center text-muted small">
            Page {{ $paginator.PageNumber }} of {{ $paginator.TotalPages }}
        </div>
        <div class="col-6 col-sm-4 order-2 order-sm-3 text-end">
            {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}">
                Newer
                <span class="align-top small">&raquo;</span>
            </a>
            {{ end }}
        </div>
    </section>
</main>
{{ end }}